:root {
  --clr-primary:  #002550;
  --clr-secondary: #153a38;
  --day-bg: #7eb0d9;
  --night-bg: #050f20;

}

body {
  font-family: "Sora", Helvetica, Arial, sans-serif;
  color: var(--clr-primary);
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.weatherApp {
  min-height: 100vh;
  display: grid;
  align-items: center;
  background: linear-gradient(180deg, rgba(70 123 221) 0%, rgb(0 37 80) 65%);
}

.daytime {
  background: url(./assets/day-time.svg) no-repeat center center fixed;
    background-size: cover;
}
.nighttime {
  background: url(./assets/night-sky.svg) no-repeat center center fixed;
  background-size: cover;
}

.weatherContainer {
  width: calc(100% - 40px);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 600px;
  background: #48BFB9;
  place-self: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.weatherContainer.daytime-bg {
  background: var(--day-bg);
}
.weatherContainer.nighttime-bg {
  background: var(--night-bg);
}

.weatherContainer.nighttime-bg * :not(input#location) {
  color: #c2c2c3;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}


.flex-align-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-2 {
  margin-top: 1rem;
}
